body{
    margin: 0;
      
      background-color: color hsl(228, 45%, 44%);
      text-align: center;
}
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". . card card . ."
      ". . card card . ."
      ". . card card . ."
      ". . card card . ."
      ". . card card . ."
      ". . card card . ."
      ". . card card . ."
      ". . . . . .";
 
  
      margin: 0;
      border-radius: 5px;
      background-color: hsl(226, 41%, 12%); 
  }
  
  .card { grid-area: card; 

background-color: hsl(230, 44%, 20%);
border-radius: 15px;

}
.cube{
    width: 90%;
    height: 50%;
   
    padding: 20px 0;
    border-radius: 26px;
}
h1{
    color: white;
    text-align: left;
    margin: 20px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p{
    text-align: left;
    margin: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color:hsl(215, 51%, 70%);
    
 
}
    .span1{ 
    color: hsl(178, 100%, 50%);
    text-align: left;
    
}
.span2{
    
    text-align: right;
    color: hsl(215, 51%, 70%);
    float: right;
    margin: 0 10px;
}
hr{
    color:  hsl(230, 44%, 20%);
    width: 90%;
    opacity: 0.08;
    
}

.face{
    width: 40px;
    float: left;
    margin: 20px;
}
.p5{
    margin: 20px;
    padding: 20px;
}
.span3{
    color: white;
}
